.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 10px;
}
.products-container{
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.cart-container{
    position: sticky;
    top: 0;
    background-color: bisque;
    color: purple;
}
.cart-container button{
  color: white;
   background-color: purple;
    border-radius: 10px;
    padding: 7px;
   
}


.button-container{
    display: flex;
    flex-direction: column;
    position: sticky;
     top: 300px;
    
     
}
   
  

/* mobile responsive setup */
@media only screen and (max-width: 600px) {
    .products-container{
       
        grid-template-columns:1fr;
       
    }
    .container{
       
        grid-template-columns: repeat(1, 1fr);
      
    }
  }